.dark .canvas-panel {
  background-image: linear-gradient(#18181c 20px, #0000 0), linear-gradient(90deg, #0000 20px, #86909c 0);
  background-size: 21px 21px, 21px 21px;
  width: 100%;
  position: relative;
  overflow: hidden;
}

.canvas-panel {
  background-image: linear-gradient(#fafafc 14px, transparent 0), linear-gradient(90deg, transparent 14px, #373739 0);
  background-size: 15px 15px, 15px 15px;
  width: 100%;
  position: relative;
  overflow: hidden;
}
.react-colorful__saturation-pointer {
  width: 12px !important ;
  height: 12px !important;
}
.react-colorful__hue-pointer {
  width: 24px !important;
  height: 24px !important;
}
.react-colorful__pointer {
  cursor: pointer;
}