body, html, #app {
  height: 100dvh;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

button {
  cursor: pointer;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
}

.dark .Spreadsheet__header, .Spreadsheet__cell {
  background-color: #181818;
  color: #9ca3af;
  border-color: #374151;
}
.Spreadsheet__cell {
  background-color: transparent !important;
  text-align: center !important;
}
.dark .Spreadsheet__cell {
  background-color: #181818 !important;
  border-color: #374151 !important;
}
